#about{
  width: 400px;
  display: flex;
  justify-content: flex-start;
  float:left;
  margin-bottom: 10px;
}

.right-about{
  display: flex;
  flex-wrap: wrap;
  width: 350px;
}

div#reservations{
  margin-left: 100px;
}

div#header{
  font-size: 25px;
}

#suggested-restaurant-amount-booked{
  font-size: 12px; 
}

#type-location, #suggested-restaurant-price, 
#suggested-restaurant-stars, .dollar, .no-dollar{
  font-size: 13px;
}

#suggested-restaurant-name{
  font-size: 16px;
}

.row{
  justify-content: center;
}

button.menu-button{
  height: 40px;
  width: 200px;
}

#right-scroll, #left-scroll{
  height: 32px;
  width: 32px;
}

div#restaurants{
  height: 40%;
}